

@font-face {
   	 font-family: arial;
    				}

body {
	background-color: #66CCFF;
	font-family: myFirstFont;
	font-size: 20px;
	color: #551A8B;



}


table {
	background-color:  #E9F7FF;
	border:;

	border-color: blue;

}

td {
	border-color:blue;
	color: blue;
}

a {
	text-decoration: none;

}
a:hover {
   
} 
p {
	color: blue;
}
ul {
	list-style-type: none;
}
ul:hover {
    
} 


