@font-face {
    font-family: Arial;
   
}
body{
	font-family: Arial;
}

#container {
	
	padding: 1%


}

h2{
	;
	text-align: center;
	

}

#content{

	;
	text-align: center;
	width: 60%;
	margin: 0 auto;

}

p {
	margin: 0;
	
}





#count_text{
	visibility: hidden;

}

#hidden{
	visibility: hidden;
}
#visible{
	
}
#submit{
	font-family: myFirstFont;

}
#username {
	font-family: myFirstFont;

}
