
@font-face {
   	 font-family: arial;
    				}
body {
	background-color: #CC00FF;
	color: white;
		font-family: myFirstFont;
		font-size: 20px;

}

a {
	color: white;
}


table {
	background-color:  #3333AD;
	border:;

	border-color: blue;

}

td {
	border-color:yellow;
	color:yellow;
}

a {
	text-decoration: none;

}
a:hover {
   
} 
p {
	color: yellow;
}
ul {
	list-style-type: none;
}
ul:hover {
    
} 
